[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap5 = "==0.7"
django = "==4.2.3"
django-crispy-forms = "==2.0"
pillow = "==10.0.0"
python-dotenv = "==1.0.0"
django-bootstrap5 = "*"
django-bootstrap-v5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
