{% extends 'base.html' %}
{% block title %}
  Galería
{% endblock %}
{% block content %}
  {% load static %}
  <section class="bg-light">
    <section class="container py-5">
      <div class="row text-center py-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h1">Galería</h1>
          <p>Aquí puedes ver las imágenes destacadas</p>
        </div>
      </div>
      <div class="row">
        {% for image in images %}
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <img src="{{image.image.url}}" alt="" class="gallery-image" />
              </div>
            </div>
          </div>
          {% empty %}
        {% endfor %}
      </div>
    </section>
  </section>

  <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
