{% extends 'base.html' %}
{% block title %}
Recuperación de contraseña
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-6">
            <h2 class="pt-5">Solicitud de recuperación de contraseña</h2>
            <p>Por favor, ingresa tu correo electrónico para restablecer tu contraseña:</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Enviar solicitud</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}